::ng-deep img:not(.mat-card-image) { 
    max-width: 100%;
} 
  
article {
    .featured_image {
        display: flex;
        background: lightgray;
        min-height: 180px;
    }
    .mat-card-image {
        max-height: 441px;
    }
}