<article>
  <div class="featured_image">
    <img mat-card-image fxFlexFill [src]="post ? post.featured_image : ''">
  </div>
  <div style="padding: 0 15px;">
    <h1 class="mat-h1">{{ post ? post.title : ''}}</h1>
    <div class="mat-body" [innerHTML]="post ? post.content : ''"></div>
  </div>
</article>

<div class="blog-list" fxLayout="column">
  <h1 class="mat-h1 blog-h1">Last News</h1>
  <mat-list>
    <div *ngFor="let item of last; last as last">
      <a routerLink="/{{ item.id }}">
        <mat-list-item fxFlexFill>
          <h3 fxFlex="65">{{ item.title }}</h3>
          <img fxFlex="35" [src]="item.featured_image_sm" alt="{{ item.title }}">
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </a>
    </div>
  </mat-list>
</div>