/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
a, a:hover{ text-decoration:none; }

.blog-h1 {
  padding-top: 15px;
  text-align: center;
}

.blog-list, .blog-grid { margin-bottom:25px; }

mat-card {
  max-width: 320px;

  img {
    height: 190px;
  }
}

mat-list-item {

  h3 {
    padding-right: 7px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 960px) {
  
  mat-card {
    margin-bottom:20px;
  }
}
